.nav {
  margin-left: 50px;

  h2 {
    display: inline-block;

    a {
      margin: 0 20px;
      cursor: pointer;
      border-bottom: 2px solid transparent;
      transition: border-color 0.2s linear;
      text-decoration: none;
      color: inherit;

      &:hover {
        border-color: white;
      }
    }
  }
}
